body{
    font-size: 14px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    background-color: #fcfcfd;
}

h1, h4{
    text-align:center;
    color:#555
}

#appName{
    font-size:1.5rem;    
    padding-top: 3px;
    margin-right: 20px;
}

#basic-navbar-nav, section{
    max-width: 1200px;
    margin:0 auto
}

.cnName span{
    font-weight:bold
}

section{
    display:flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tableWrapper{
    margin: 0 40px 0 0;
}

@media (max-width: 500px){
    .subSectionWrapper{
        max-width:320px;
        margin:0 auto 30px
    }
}

@media (max-width: 1200px){
    section{
        padding: 0.5rem 1rem;
    }
}

.subSectionWrapper{
    flex:1;
    min-width: 300px;
}

.subSectionTitle{
    margin-top: 20px;
}

.react-bootstrap-table-pagination{
    display:block
}

.react-bootstrap-table-page-btns-ul{
    float: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f6fa;
}

.navbar{
    background-color:#ffffff;
    border-bottom: 1px solid #dee2e6;
}

.page-link{
    color:#2d7bbd;
}

.page-item.active .page-link{
    background-color: #2d7bbd;
    border-color: #2d7bbd;
}